<font size="60">Caffeine Tracker</font>

<h2>How many cups of coffee did you have today?</h2>
 <% form_for @cups, :url => { :action => :create } do |f| %>
	<%= f.text_field :number %>
	<%= f.submit "Submit" %>
	<% end %>